<mat-card>
  <mat-card-content>
    <form >
      <h2>Enter Checkout Details</h2>
      <mat-form-field class="full-width">
        <mat-label>Full Name</mat-label>
        <input  matInput  placeholder="Full name"  name="fname"  required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Select Reason</mat-label>
        <select matNativeControl required>
          <option value="coffee">Coffee Break</option>
          <option value="lunch">Lunch Break</option>
          <option value="breakfast">Breakfast</option>
          <option value="other">Other</option>
        </select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Checkout from</mat-label>
        <input matInput [ngxMatDatetimePicker]="pickerFrom" placeholder="From date & time" required>
        <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #pickerFrom [enableMeridian]="true"></ngx-mat-datetime-picker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Checkout till</mat-label>
        <input matInput [ngxMatDatetimePicker]="pickerTo" placeholder="To date & time" required>
        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #pickerTo [enableMeridian]="true"></ngx-mat-datetime-picker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Note</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary">Submit Checkout</button>
    </form>
  </mat-card-content>
</mat-card>
